@import url("/css/zeroing.css");
@import url(https://fonts.googleapis.com/css?family=Urbanist:600,700,600italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Dosis:600,700);
@import url(https://fonts.googleapis.com/css?family=Assistant:600);
@import url(https://fonts.googleapis.com/css?family=PT+Serif:regular,italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Neucha:regular);
@import url(https://fonts.googleapis.com/css?family=Comfortaa:300,regular,500,600,700);
body {
  font-family: "Comfortaa", sans-serif;
  background: #696969;
  padding: 15px 25px;
  height: 100%;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 15px;
  -webkit-box-shadow: 5px 9px 20px rgba(5, 64, 92, 0.75);
          box-shadow: 5px 9px 20px rgba(5, 64, 92, 0.75);
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

@media (max-width: 1012px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }
}

.backgroundanimation {
  background: #13547a;
  -webkit-box-shadow: 500px 0px 500px -100px #80d0c7 inset;
          box-shadow: 500px 0px 500px -100px #80d0c7 inset;
  -webkit-animation: bganim 20s infinite linear alternate;
          animation: bganim 20s infinite linear alternate;
}

@-webkit-keyframes bganim {
  0% {
    background: #13547a;
  }
  25% {
    background: #80d0c7;
    -webkit-box-shadow: 500px 0px 500px -100px #a058ff inset;
            box-shadow: 500px 0px 500px -100px #a058ff inset;
  }
  50% {
    background: #a058ff;
    -webkit-box-shadow: 500px 0px 500px -100px #80d0c7 inset;
            box-shadow: 500px 0px 500px -100px #80d0c7 inset;
  }
  85% {
    background: #80d0c7;
    -webkit-box-shadow: 500px 0px 500px -100px #13547a inset;
            box-shadow: 500px 0px 500px -100px #13547a inset;
  }
  100% {
    background: #13547a;
  }
}

@keyframes bganim {
  0% {
    background: #13547a;
  }
  25% {
    background: #80d0c7;
    -webkit-box-shadow: 500px 0px 500px -100px #a058ff inset;
            box-shadow: 500px 0px 500px -100px #a058ff inset;
  }
  50% {
    background: #a058ff;
    -webkit-box-shadow: 500px 0px 500px -100px #80d0c7 inset;
            box-shadow: 500px 0px 500px -100px #80d0c7 inset;
  }
  85% {
    background: #80d0c7;
    -webkit-box-shadow: 500px 0px 500px -100px #13547a inset;
            box-shadow: 500px 0px 500px -100px #13547a inset;
  }
  100% {
    background: #13547a;
  }
}

.header__content {
  padding: 30px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

@media (max-width: 991.98px) {
  .header__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
    padding: 30px 20px;
  }
}

.item-left {
  text-align: center;
}

.item-left__photo {
  border: 7px solid #004a6d;
  -webkit-box-shadow: 0px 0px 15px 0px #004a6d;
          box-shadow: 0px 0px 15px 0px #004a6d;
  border-radius: 50%;
  display: inline-block;
}

.item-left__photo img {
  max-width: 250px;
  border-radius: 50%;
}

.item-left__name {
  font-family: "Dosis";
  font-weight: 700;
  font-size: 40px;
  color: #303030;
}

.item-left__profession {
  font-family: "Urbanist";
  font-size: 20px;
  font-weight: 600;
  color: white;
  margin: 5px 0px 0px 0px;
}

.item-right {
  background: rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 2px 2px 5px 2px rgba(255, 255, 255, 0.2);
          box-shadow: 2px 2px 5px 2px rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  padding: 10px 15px;
}

.item-right__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.title {
  font-family: "PT Serif";
  font-size: 20px;
  font-weight: 700;
  font-style: italic;
  color: #004a6d;
}

.subtitle {
  font-family: "PT Serif";
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 1.4em;
  color: white;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background-color: #eaf6fd;
  border-radius: 15px;
  padding: 10px 10px;
  margin: -15px 0px 0px 0px;
  position: relative;
}

.main-blocks {
  background-color: rgba(51, 173, 189, 0.3);
  border-radius: 15px;
  padding: 10px 20px;
}

.title-main {
  font-family: "Neucha";
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  color: #004a6d;
}

.title-text {
  font-family: "Comfortaa";
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 1.4em;
}

.main-targets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 190px;
  margin: 10px 0px 20px 0px;
}

@media (max-width: 767.98px) {
  .main-targets {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main-targets__title {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
  position: relative;
}

.main-targets__title::after {
  content: "";
  display: inline-block;
  width: 100px;
  height: 100px;
  background: url("/img/target.png") center/cover no-repeat;
  position: absolute;
  bottom: -20%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (max-width: 767.98px) {
  .main-targets__title::after {
    display: none;
  }
}

.main-targets__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.main-targets__text li {
  list-style: disc;
}

.main-time {
  margin: 0px 0px 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 767.98px) {
  .main-time {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: minmax(25px, 65px) 1fr;
        grid-template-rows: minmax(25px, 65px) 1fr;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
  }
}

.main-time__title {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  position: relative;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

@media (max-width: 767.98px) {
  .main-time__title {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    -ms-grid-column: span 2;
        grid-column-start: span 2;
  }
}

.main-time__title::after {
  content: "";
  display: inline-block;
  width: 100px;
  height: 100px;
  background: url("/img/clock.png") center/cover no-repeat;
  position: absolute;
  bottom: -20%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (max-width: 767.98px) {
  .main-time__title::after {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .main-time__text {
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

@media (max-width: 767.98px) {
  .main-time__digital {
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

.main-courses__text {
  text-align: center;
}

.main-contacts {
  padding: 10px 20px;
}

.main-contacts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-contacts a {
  font-family: "Assistant";
  font-size: 18px;
  font-weight: 600;
  color: #466370;
  -webkit-transition: text-shadow .6s ease 0s;
  transition: text-shadow .6s ease 0s;
}

.main-contacts a:hover {
  text-shadow: 0px 5px 15px #a058ff;
}

.footer {
  margin: -15px 0px 0px 0px;
  padding: 15px 0px 10px 0px;
}

.footer__content {
  padding: 10px 30px 0px;
  font-family: "Urbanist";
  font-weight: 600;
}

.content-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-footer__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.3333%;
          flex: 1 1 33.3333%;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */